#navigation{
display: flex;
justify-content: space-around;
text-align: center; 
height: 80px;
background-color: #690a22;
padding: 10px;
}
.navbar{
display: flex;
justify-content: space-around;  
}
.nav ul{
display: flex;
justify-content: space-around; 
list-style: none;
padding-top: 50px;
}
.nav ul li{
margin-left: 20px;  
}
.logo{
 margin-left: 0; 
}