

	<div class="nav-bar">
        <div class="showcase">
            <h3>Novelty</h3>
            <hr>
            <p>Business start-up simplified</p>
        </div>
    </div>

    <section id="section">
        <div class="box-1">
            <img src="/assets/img/images4.jpeg">
            <h2>Ideation</h2>
        </div>
        <div class="box-2">
            <img src="/assets/img/images5.png">
            <h2>Business Set-Up</h2>
        </div>
        <div class="box-3">
            <img src="/assets/img/images3.jpeg">
            <h2>Marketing</h2>
        </div>
    </section>
