

	<div class="nav-bar">
        <div class="showcase">
            <h1>Novelty</h1>
            <hr>
            <p>Business start-up simplified</p>
        </div>
    </div>
<!-- 
    <section id="section">
        <div class="box-1">
            <img src="/assets/img/images4.jpeg">
            <h2>Ideation</h2>
        </div>
        <div class="box-2">
            <img src="/assets/img/images5.png">
            <h2>Business Set-Up</h2>
        </div>
        <div class="box-3">
            <img src="/assets/img/images3.jpeg">
            <h2>Marketing</h2>
        </div>
    </section> -->

    <div class="box">
        <div class="card">
          <div class="imgBx">
            <img src="/assets/img/images4.jpeg">
          </div>
          <div class="details">
              <h2>Ideation<br><span>Novelty</span></h2>
          </div>
        </div>
      
         <div class="card">
           <div class="imgBx">
            <img src="/assets/img/images5.png">
           </div>
           <div class="details">
              <h2>Business set-Up<br><span>Novelty</span></h2>
            </div>
         </div>
  
         <div class="card">
           <div class="imgBx">
            <img src="/assets/img/images3.jpeg">
           </div>
           <div class="details">
              <h2>Digital Marketing<br><span>Novelty</span></h2>
            </div>
         </div>
   
    </div>
