<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
  
      <!-- Brand -->
      <a class="navbar-brand">
        <img src="./assets/img/logo.png" class="navbar-brand-img " alt="...">
      </a>
  
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fe fe-x"></i>
        </button>
  
        <!-- Navigation -->
        <ul class="navbar-nav ml-auto">
            <a class="nav-link" routerLink="/client/home" aria-haspopup="true" aria-expanded="true">
              Home
            </a>
          <li class="nav-item hovered">
            <a class="nav-link" routerLink="/client/display" aria-haspopup="true" aria-expanded="true">
              Journey
            </a>
          </li>
          <li class="nav-item hovered">
            <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              About Novelty
            </a>
          </li>
        </ul>

        <!-- Button -->
        <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" target="_blank">
          Account
        </a>
      </div>
  
    </div>
  </nav>



  <div class="container mt-5">
      <!-- <h1>Legal</h1>
      introduction about the legal step
      <p> The information below will set you off to run a legally compliant business.  </p>
      info about registering a business 
    <mat-accordion>
        <mat-expansion-panel>
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <p>1.Have you registered your business?</p>
                <div class="example-button-row">
                <button mat-stroked-button>Yes</button>
                <button mat-stroked-button>No</button>
                </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
          <a href="#">Read more</a>
        </mat-expansion-panel>
      </mat-accordion>
<br> -->

      <!-- info about sars registration -->
      <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
            SARS Registration
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion> -->
   <!-- <br>    -->
      <!-- info about Department of Labour  -->
<!-- 
 <mat-accordion>
        <mat-expansion-panel>
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                Employee Tax
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion> -->

      <!-- info about  Employee Tax -->

      <!-- <br> -->

      <!-- info about VAT Vendor -->
      <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
               VAT Vendor
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion> -->

  <!-- </div> -->

    <h1>Register the business</h1>
    <div class="container mt-5">
    <p>1.Have you registered your business?</p>
    <div class="example-button-row">
    <button mat-stroked-button>Yes</button>
    <button mat-stroked-button>No</button>
    </div>
  
  <mat-card *ngIf="show">
    Simple card
    <br>
    <br>
    <a href="#">read more</a>
   
  </mat-card>
</div>
