<div>
    <mat-grid-list cols="2" rowHeight="380px" class="col-margin">
        <mat-grid-tile class="text-inside-grid">
            <div class="mb-5 mt-11 col-header">
                <h1 class="display-4 mb-2"
                    joyrideStep="legalStep"
                    title="Legal"
                    text="If you're on this session of the journey it means you've added an idea, evaluated and rated it. Legal,
                    this part of your journey is meant to inform you by giving useful tips when it comes to Legalizing your business">
                    Legal</h1>
                <p class="lead">You'll give you tips on how to legalizing your business.</p>
                <footer class="blockquote-footer">Not knowing the necessary procedures and rules of engagement 
                                                can get problematic and, even more importantly, cost a bit
                                                more than a few initial lessons, says Riki Marais, a manager 
                                                at accountancy firm Hobbs Sinclair.
                </footer>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="img">
                <img class="image animated fadeInRight delay-0.5s" src="assets/img/relax-08.png">
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="w3-container w3-pale-blue w3-leftbar w3-border-yellow info">
        <p>Legal wise, if you don't understand what's happening on this page. Click the info button.
            <button class="btn-add" mat-mini-fab color="primary" mat-raised-button (click)="tour()">
                <mat-icon>info</mat-icon>
            </button>
        </p>
    </div>

</div>