.addIdeaCard {
  background-color:rgb(184, 138, 138);
  border-radius: 1%;
  box-sizing: border-box;
  height: 600px;
  width: 350px;
  align-items: center;
  //padding: 4px,4px,6px,6px;
  // margin:
  

}
.card-body {
  background-color: #26C6DA;
  border-radius: 10%;
  height: 100px;
  width: 100px;
  padding: 4px,4px,6px,6px;
  margin:40px 20px 20px 40px;

}
// .viewIdeasCard {

// }
.viewIdeas-body {
  background-color: whitesmoke;
  height:200px;
  width:200px;
}

.addButton {

  margin:0px 60px 20px 0px;
}