<mat-card class="reset">
  <form  class="form" [formGroup]="form">
<div class="resert">
    <h1>Resert your Password</h1>
</div>
  <!-- input for confirming password -->
  <mat-form-field>
    <i matPrefix  class="material-icons">
      lock
      </i>
    <input type="password" matInput placeholder="Enter your password" formControlName="user_password" required>
    <!-- checks if the password is inserted -->
    <mat-error *ngIf="form.controls['user_password'].invalid">Password is required</mat-error>
  </mat-form-field>
<br><br>
  <mat-form-field *ngIf="form.controls['user_password'].valid">
    <i matPrefix  class="material-icons">
      lock
      </i>
    <input type="password" matInput placeholder="Confirm your password" formControlName="confirm_password">
    <!-- checks if passwords and confirm password matches -->
  <mat-error *ngIf="form.controls['confirm_password'].pristine || form.controls['confirm_password'].errors?.MatchPassword">Password does not match</mat-error>
  </mat-form-field>
  <br>
  <button mat-flat-button color="primary" class="btn" type="submit" routerLink="/login" (click)= 'forgot()'>Reset</button>
  </form>

  </mat-card>
  