.card{
    width: 750px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 2%;
}
.image{
    height: 420px;
    width: 200;
    margin-left: 50px;
    margin-top: 50px;
  }
.img{
    margin-left: 50px;
}
.div{
    margin-left: 55px;
}
.material-icons {
    font-size: 18px !important;
    padding-right: 15px;
   
  }
  .header{
    font-weight: bolder;
    font-size: xx-large;
  }
  .buttons{
    display: flex;
    justify-content: centre;
    align-items: center;
    margin-top: 20px;
  }
  #btn{
    font-size: smaller;
    width: 25px;
    height: 33px;
   
   padding-left: 8px;
   padding-bottom: 9px;
    // padding: 0px 2px 0px 10px;

    
  }
  #login{
    padding-left: 30px;
    
    }
    #form{
        height: 50px;
    }
    