<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- <app-navbar></app-navbar> -->

<section id="body">
    <div class="wrap1">
        <h1>Tell us about yourself, Chamano</h1>
    <h5>What kind of work do you do</h5>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Job tittle" aria-label="Username" aria-describedby="addon-wrapping">
      </div>

      <button type="button" class="btn btn-secondary">Continue</button>
    </div>
    <div class="wrap2">
        <img src="assets/img/evaluate.jpg" class="image animated fadeInRight delay-0.5s" >
    </div>
</section>
