
<form [formGroup]="formQuestion" #questionForm="ngForm" >
  <!-- input for confirming password -->
      <mat-form-field *ngFor="let question of questions; let i = index"  class="display">
        <mat-label>{{question.q_name}}</mat-label>
        <input type="text" matInput class="input" required formControlName="{{question.id}}"/>
        <!-- checks if the password is inserted -->
        <!-- <mat-error *ngIf="formQuestion.controls['answers'].invalid">answer is required</mat-error> -->
      </mat-form-field>

   
  </form>


<mat-dialog-actions id="btns">
    <button class="mat-raised-button" (click)="close()">Close</button>
    
    <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="questionForm.invalid">Save</button>
</mat-dialog-actions>