
<form [formGroup]="formQuestion" >
  <!-- input for confirming password -->
      <mat-form-field *ngFor="let question of questions; let i = index" >
        <mat-label>{{question.q_name}}</mat-label>
        <input type="text" matInput class="Input" required formControlName="{{question.id}}"/>
        <!-- checks if the password is inserted -->
        <!-- <mat-error *ngIf="formQuestion.controls['answers'].invalid">answer is required</mat-error> -->
      <br><br>
        
      </mat-form-field>
<br>
   
  </form>


<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    
    <button class="mat-raised-button mat-primary" (click)="save()" >Save</button>
</mat-dialog-actions>