<div *ngIf="!show" class="question">
    <h2 class="lead mb-2 h3 text-uppercase">
        <mat-icon class="text-primary">question_answer</mat-icon>
        Evaluate your business
        <span class="text-primary text-uppercase"> idea</span>
    </h2>

    <div *ngIf="!show" class="container d-flex">
            <mat-form-field *ngIf="!show" class="example-full-width">
                <textarea matInput placeholder='{{questions[index].q_name}}'></textarea>
            </mat-form-field>
    </div>
    <div *ngIf="!done" >
        <button mat-flat-button color="primary" (click)="yesClick()">{{button}}</button>
    </div>
</div>

<div *ngIf="show done" class="question">
    <h2 class="lead mb-2 h3 text-uppercase">
        <mat-icon class="text-primary">question_answer</mat-icon>
        Evaluate your business
        <span class="text-primary text-uppercase"> idea</span>
    </h2>
    <div *ngIf="show" class="w3-container w3-border w3-round-xlarge mb-2">
        <div *ngIf="show" class="d-flex justify-content-center">
            <app-ratings></app-ratings>
        </div>
    </div>
    <div *ngIf="done" class="d-flex justify-content-center">
        <button mat-flat-button color="primary" (click)="continueToLegal()">{{button}}</button>
    </div>
</div>