.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .full-width {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width:414px) {
    .question {
      margin-top: 40px;
    }
  }
  