#navibar{
    margin-right: 388px;
}
.nav-link{
    font-weight: bolder;    
    }
    .nav-link:hover{
    background-color: #007bff;;
    }
    .nav-item{
    margin-left: 40px;
    }
    #section{
    background-color: #eceff1;; 
    height: 70vh;
    }
    #image{
    margin-top: 100px;
    }
   #image img{
    height: 400px;
    width: 380px;   
   }
    .card{
    margin-bottom: 15px;
    }
    #card:hover{
        background-color:  lightblue;
        cursor: pointer;
    }
    .header{
        text-align: center;
        margin-top: 45px;
    }

    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#0C9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }
    .btn {
        margin-top:15px;
        bottom: 100px;
        /* margin-right: 108px; */
        margin-left: 1300px;
       
    }
    .my-float{
        margin-top:15px;
    }
  
    .close {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0%;
        padding: 12px 16px;
        transform: translate(0%, -50%);
      }
      
      .close:hover {background: #bbb;}  

      .grid{
        width: 70%; 
        margin: 40px 10% 0 10%; 
      }
      .grid h1{
          font-family: serif;
      }

    //   //media query for responsiveness

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 480px){
    .display {
        width: 100%;
    } 
    .input{
       width: 100%; 
    }
    #btns{
       text-align: center; 
    }
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.material-icons {
   
    font-size: 15px !important;
    
    
   

}
    // /*Extra small devices (phones, 320px and down)*/
    // @media  (max-width: 320px) {
    
    //     .grid{
    //         width: 100%; 
           
    //       }
    //     .btn {
    //         display: none;
    //         margin-top:15px;
    //         width: 100px;
            
    //     }
    //     #image img{
    //         height: 200px;
    //         width: 180px;   
    //        }
    //  }
    //  @media (min-width: 321px) and (max-width: 480px) {
       

    //     .grid{
    //         width: 100%; 
    //         margin: 40px 10% 0 10%; 
    //       }
    //     .btn {
    //         margin-top:15px;
    //         width: 100px;
            
    //     }
    //     #image img{
    //         height: 200px;
    //         width: 180px;   
    //        }
    //  }

    //  @media (max-width: 767px)
    //  {
    //     html
    //  {
    //        font-size:0.38em;
    //  }
    //  }
    // @media (min-width: 768px) and (max-width: 979px)
    //  {
    //    html
    //    {
    //        font-size:0.65em;
    //    }
    //  }

    //  @media (min-width : 980px) and (max-width:1025px)
    //  {
    //    html
    //    {
    //        font-size:0.7em;
    //    }
    //  }

    //  @media (min-width : 1026px) and (max-width:1280px)
    //  {
    //    html
    //    {
    //        font-size:0.7em;
    //    }
    //  }
