/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eceff1;}
.mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
 }
<<<<<<< HEAD


 // regular style toast 
=======
// regular style toast 
>>>>>>> 9d7de7dfc5e104ef1fbd037645a1c1c00b421b24
@import '~ngx-toastr/toastr';
 

