<h1 > Enter your idea</h1>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <input matInput
                placeholder="Business Idea"
               formControlName="busin_idea">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput
                placeholder="Description"
               formControlName="descript">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>