<div class="wrapper">

    <div class="main">
        <h1>Why You Should Concider digital Marketing</h1>
        <div class="mark">
            <p>It informs
                marketing enables your customers to understand the ins-and-outs of
                your product.
            </p>
            <p>It sustains
                Marketing allows businesses to maintain long-lasting and ever-present
                relationships with their audience. </p>
            <p>Equalizer
                Modern marketing like Social media platforms have made
                reaching out
                to consumers a much more finance-friendly possibility.</p>
            <p>Customer engagement
                Engagement is the heart of any successful business.You can send your customers content to keep
                them engaged beyond store hours.</p>


            <p>Growth
                Marketing is an important strategy to ensure the growth of your business. While your current customers
                should
                always be your main priority, marketing efforts can help you expand this base.
                Little efforts like social media posts and email campaigns can not only engage existing consumers but
                spread
                the word to new potential customers.
                In essence, marketing secures your business’s future through new and old customer engagement.</p>
        </div>

    </div>
</div>

<div >
    <li *ngFor="let cont of contentShow">{{cont.title}}</li>
    
</div>

<div class="showcase">
    <h3>Advertising Platforms Options</h3>
    <div class="boxes">
        <div class="container">


            <div class="fancy-card">
                <div class="top">
                    <img src="assets/img/fb.png" alt="">
                    <div class="caption">
                        <h3 class="title">Facebook</h3>
                        <a href="http://www.facebook.com/adsmanager" class="button">Create </a>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>

            <div class="fancy-card">
                <div class="top">
                    <img src="assets/img/link.jpeg" alt="">
                    <div class="caption">
                        <h3 class="title">LinkedIn</h3>
                        <a href="" class="button">Create</a>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>




            <div class="fancy-card">
                <div class="top">
                    <img class="gmb" src="assets/img/gmb.jpg" alt="">
                    <div class="caption">
                        <h3 class="title"></h3>
                        <a href="" class="button">Create</a>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>

            <div class="fancy-card">
                <div class="top">
                    <img   class="img" src="assets/img/con3.jpg" alt="">
                    <div class="caption">
                        <h3 class="title">Twitter</h3>
                        <a href="" class="button">Create </a>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>




            <div class="fancy-card">
                <div class="top">
                    <img src="assets/img/web.jpg" alt="">
                    <div class="caption">
                        <h3 class="title">Online Store</h3>
                        <a href="" class="button">Create </a>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>

            <div class="fancy-card">
                <div class="top">
                    <img src="assets/img/website.png" alt="">
                    <div class="caption">
                        <h3 class="title">Landing Page

                        </h3>
                        <a href="" class="button">Create</a>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>

        </div>

    </div>

</div>


<div class="domain">

    <h2>Start your domain <br>name search</h2>
    <div class="search">
        <input type="text" placeholder="Type the name you want here.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>


</div>