<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class=container-outer>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand">
                <img src="./assets/img/logo.png" class="navbar-brand-img " alt="...">
                Novelty
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-x"></i>
                </button>

                <!-- Navigation -->
                <ul class="navbar-nav ml-auto">
                    <a class="nav-link" routerLink="/landing" aria-haspopup="true" aria-expanded="true">
                        Home
                    </a>
                    <li class="nav-item hovered">
                        <a class="nav-link" routerLink="/client/display" aria-haspopup="true" aria-expanded="true">
                            Journey
                        </a>
                    </li>
                    <li class="nav-item hovered">
                        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            About Novelty
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="wrapper">
    <div class="inside-wrap">
        <div class="header">
            <h1 class="display-4 mb-2"
                joyrideStep="financeStep"
                title="Finance"
                text="If you're on this session of the journey it means you've added an idea, evaluated, rated it and went through Legal. Finances, this part of your journey is meant to inform you by giving useful tips when it comes to Finances, how get funding/starting capital, managing your funds when it comes to your business.">
               <span> Finance</span></h1>
            <p class="lead">To succeed in your business venture you’ll need to understand the underlying financial flows of your
                business.</p>
            <footer class="blockquote-footer">This session focuses on the financial tools you need to help you manage and build your business.
            </footer>
        </div>
        <div class="img">
            <img class="image animated fadeInRight delay-0.5s" src="assets/img/everything-3.png">
        </div>
    </div>
</div>

<div class="parent">
    <div class="headline">
        <h4>Here is a checklist of the documents you'll need.</h4>
        <ul>
            <li>Copy of ID (per business member/individual member and or director).</li>
            <li>Proof of address(personal) and Proof of physical address of business.</li>
            <li>Business owner to submit three months' bank account statements on a personal account.</li>
            <li>Company registration documents (not required for sole proprietors).</li>
            <li>A detailed business plan .</li>
        </ul>
    </div>
    <div class="divider">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Bank My Business</h5>
              <p class="card-text">You will need to have these documents to open a business account. 
                  Follow the link to create an account and compare the costs</p>
              <a href="https://www.absa.co.za/business/bank-my-business/daily-transacting-accounts/classic-business-account/" class="card-link">Create with ABSA</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Fund My Business</h5>
              <p class="card-text">You need a business plan with emphasis on
                   financial projections and proof of concept for your business idea.Proceed to ABSA </p>
              <a href="https://www.absa.co.za/business/starting-my-business/access-to-finance/sme-contract-financing/" class="card-link">Apply</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Manage My Finances</h5>
              <p class="card-text">Financial literacy can make all the difference in the success of your business venture.
                   Follow the link to get tips on how to manage your finances.</p>
              <a href="#" class="card-link">Follow Me!</a>
            </div>
          </div>
    </div>
    <button mat-button [routerLink]="['/client/developers']">Head To Developers</button>
</div>
