//navigation
.nav-link {
	font-weight: bolder;
  }
  
  .nav-link:hover {
	background-color: #007bff;
  }
  
  .nav-item {
	margin-left: 40px;
  }
 
.inside-wrap{
  margin: 150px 150px 50px 150px ;
  display: flex;
  justify-content: space-between;

}
span{
  color:blue;
}
.header{
  margin-right: 15px;
}
.img {
  margin-left: 15px;
}

.image {
  height: 300px;
  margin-left: 20px;
}

//styling the card
.divider{
  margin: 50px 150px ;
  display: flex;
  justify-content: space-between;
}
.card{
  padding: 20px;
}
.headline{
  margin: 20px 150px;
}
