<mat-card class="card">
    <mat-grid-list cols="2" rowHeight="500px">
      <mat-grid-tile class="text-inside-grid">
        <div class="div">
          <h3>Sign Up</h3>
          
          <p>
            <mat-form-field appearance="legacy">
              <i  matPrefix class="material-icons">
              account_circle
            </i>
              <input matInput placeholder="Name" name="name" required />
            </mat-form-field>
          </p>

          <p>
            
            <mat-form-field appearance="legacy">
              <i  matPrefix class="material-icons">
                perm_contact_calendar
                </i>
              <input matInput placeholder="Surname" name="last_name" required />
            </mat-form-field>
          </p>
          <p>
            
            <mat-form-field appearance="legacy">
              <i matPrefix  class="material-icons">
                email
                </i>
              <input matInput placeholder="Email Address" name="email" required />
            </mat-form-field>
          </p>
          <p>
           
            <mat-form-field appearance="legacy">
              <i matPrefix  class="material-icons">
                lock
                </i>
              <input matInput placeholder="Password" name="user_password" required />
            </mat-form-field>
          </p>
          <p>


            
           
            <mat-form-field appearance="legacy">
              <i matPrefix  class="material-icons">
                lock
                </i>
              <input matInput placeholder="Repeat your Password" name="confirm_password"required />
            </mat-form-field>
          </p>
          <button mat-flat-button color="primary">Sign Up</button>
          
         
       
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        hello
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  