<div class=container-outer>
    <div class="container-inner">
        <mat-grid-list cols="2" rowHeight="450px">
            <mat-grid-tile class="text-inside-grid">
                <div class="mb-5 mt-11 col-header">
                    <h1 class="display-4 mb-2">Turn your ideas into a startup</h1>
                    <p class="lead">You're not alone in this journey of discovery.
                    </p>
                    <footer class="blockquote-footer">“I knew that if I failed I wouldn’t regret that, but I knew the
                        one thing I might regret is not trying.” <cite title="Source Title">
                            <p>Jeff Bezos, Founder and CEO
                                of Amazon</p>
                        </cite></footer>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="img">
                    <img class="image animated fadeInRight delay-0.5s" src="assets/img/theway-09.png">
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <div class="w3-container w3-pale-blue w3-leftbar w3-border-yellow info">
            <p>Firstly, if you don't understand what's happening on this page. Click the info button.
                <button class="btn-add" mat-mini-fab color="primary" mat-raised-button (click)="tour()">
                    <mat-icon>info</mat-icon>
                </button>
            </p>
        </div>

        <div class="card-container">
            <mat-list>
                <mat-list-item>
                    <div class="container-card-dashboard space-2 space-top-xl-3 space-bottom-lg-3">
                        <div class="row mx-n2 mx-lg-n3">
                            <div class="col-sm-6 col-lg-4 px-2 px-lg-3 mb-3 mb-lg-0 aos-init aos-animate"
                                data-aos="fade-up">
                                <!-- Card -->
                                <div [ngStyle]="firstStyles()">
                                <a class="card bg-primary text-left h-100 transition-3d-hover" 
                                    routerLink="/client/ideas"
                                    joyrideStep="ideaStep" 
                                    title="Business Ideas" 
                                    text="Access to business ideas page where you'll be able to add your ideas, evaluate and rate them.">
                                    <div class="card-body">
                                        <div class="mb-5">
                                            <h3 class="text-white">Ideas</h3>
                                            <p class="text-white">These ideas will be turned into businesses. It all
                                                starts with an idea.
                                            </p>
                                        </div>
                                        <img class="img-dashboard" src="assets/img/ideas-icon.png"
                                            alt="Image Description">
                                    </div>
                                    <div class="card-footer border-0 bg-transparent pt-0">
                                        <span class="font-size-1 text-white font-weight-bold">Load ideas</span>
                                    </div>
                                </a>
                                </div>
                                <!-- End Card -->
                            </div>

                            <div class="col-sm-6 col-lg-4 px-2 px-lg-3 aos-init aos-animate" data-aos="fade-up"
                                data-aos-delay="200">
                                <!-- Card -->
                                <div [ngStyle]="secondStyles()">
                                <a class="js-go-to card bg-warning text-left h-100" 
                                    routerLink="/client/developers"
                                    joyrideStep="developerStep" 
                                    title="Developers" 
                                    text="You're on developers of your journey, and you'll be able  Developers will achieve this by building platforms an entrepreneurs ordered/requested.">
                                    <div class="card-body">
                                        <div class="mb-5">
                                            <h3 class="text-white">Developers</h3>
                                            <p class="text-white">Everything you need to build better websites/apps.
                                            </p>
                                        </div>
                                        <img class="img-dashboard" src="assets/img/genius-icon.png"
                                            alt="Image Description">
                                    </div>
                                    <div class="card-footer border-0 bg-transparent pt-0">
                                        <span class="font-size-1 text-white font-weight-bold">Let's build</span>
                                    </div>
                                </a>
                                </div>
                                <!-- End Card -->
                            </div>
                            
                            <div class="col-sm-6 col-lg-4 px-2 px-lg-3 mb-3 mb-lg-0 aos-init aos-animate" data-aos="fade-up"
                            data-aos-delay="150">
                                <!-- Card -->
                                <div [ngStyle]="thirdStyles()">
                                <a class="card bg-success text-left h-100 transition-3d-hover" 
                                    routerLink="/client/digital"
                                    joyrideStep="digitalMarketingStep" 
                                    title="Digital Marketing" 
                                    text="Easier ways of using digital platform tools, tips on how to use them effectively to grow your
                                    business in a digital world.">
                                    <div class="card-body">
                                        <div class="mb-5">
                                            <h3 class="text-white">Digital Marketing</h3>
                                            <p class="text-white">Factors influencing people's actions and purchases.</p>
                                        </div>
                                        <img class="img-dashboard" src="assets/img/digital-icon.png" alt="Image Description">
                                    </div>
                                    <div class="card-footer border-0 bg-transparent pt-0">
                                        <span class="font-size-1 text-white font-weight-bold">Start connecting</span>
                                    </div>
                                </a>
                                </div>
                                <!-- End Card -->
                            </div>

                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>

        <!-- LEGAL -->
        <!-- <div>
                        <mat-grid-list cols="2" rowHeight="380px">
                            <mat-grid-tile class="text-inside-grid">
                                <div class="mb-5 mt-11 col-header">
                                    <h1 class="display-4 mb-2">Legal</h1>
                                    <p class="lead">You'll give you tips on how to legalizing your business.</p>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="img">
                                    <img class="image animated fadeInRight delay-0.5s" src="assets/img/relax-08.png">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>

                        <p class="paragraph">A business plan is a roadmap of your business. It details how your business
                            wants to
                            achieve its goals and should
                            include its operational, financial and marketing strategies.
                        </p>

                        <mat-tab-group headerPosition="below">
                            <mat-tab label="First"> -->

        <!-- Expand for business plan -->
        <!-- <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Do you have a business plan?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>timeline</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <h4>Business Plan</h4>
                                    <p>A business plan is a document setting out a business\'s future objectives and
                                        strategies for achieving them; It is
                                        formally written document and contains business goals, the methods on how these
                                        goals can be attained, and the time
                                        frame within which these goals need to be achieved. For more information about
                                        drafting a business checkout this Absa page.</p>
                                </mat-expansion-panel>
                            </mat-tab>

                            <mat-tab label="Second"> -->

        <!-- Paragraph before expand for CIPC -->
        <!-- <p class="paragraph">You’ve drafted a killer business plan and you are ready to venture
                                    into
                                    the world of
                                    business. Your next step is to
                                    register your business in accordance with South African legal and statutory
                                    requirements.
                                </p> -->
        <!-- Expand for CIPC -->
        <!-- <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Have you registered your business/company with CIPC?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>assignment</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <h4>Register the business</h4>
                                    <p>The Companies and Intellectual Property Commission (CIPC) should be your first
                                        point
                                        of contact. This organisation has
                                        been established in order to administer the registration of companies,
                                        cooperatives
                                        and intellectual property rights
                                        such as trademarks, patents, designs and copyright. For more information.
                                    </p>
                                </mat-expansion-panel>
                            </mat-tab> -->

        <!-- Expand for SARS -->
        <!-- <mat-tab label="Third">
                                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Have you registered with SARS to pay tax?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>money</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <h4>SARS Registration</h4>
                                    <p>
                                        A legal obligation to pay tax regardless of the size of business being run. The
                                        law
                                        dictates that a business is
                                        registered with SARS within 60 days of starting operations. For those registered
                                        with CIPC the registration is automatic
                                        except sole proprietors or partners who need to register as provisional tax
                                        payers
                                        directly. find out more information
                                        on SARS website.</p>
                                </mat-expansion-panel>
                            </mat-tab> -->

        <!-- COIDA -->
        <!-- <mat-tab label="Fourth">
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Have you registered with the Department Of Labour to abides to Compensation
                                            for Occupational Injuries and Diseases Act (COIDA)?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>money</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <h4>Department of Labour</h4>
                                    <p>
                                        This government department bears the responsibility of ensuring that businesses
                                        operate under conducive environment and
                                        abides by laid down legal provisions. Businesses with one or more full time
                                        employees are therefore required to register
                                        in accordance with the Compensation for Occupational Injuries and Diseases Act
                                        (COIDA).This Act has been put in place to
                                        safeguard the rights of employees who are injured, contract a disease or get
                                        killed as a result of their work. For more
                                        information.
                                    </p>
                                </mat-expansion-panel>
                            </mat-tab> -->

        <!-- PAYE -->
        <!-- <mat-tab label="Fiveth">
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            You have to register your company for Pay As You Earn (PAYE), have you?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>money</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <h4>Unemployment Insurance Fund</h4>
                                    <p>
                                        Unemployment Insurance Fund (UIF) benefits workers when they can’t work due to
                                        maternity, adoption leave or illness. UIF
                                        registration can be done on form UF8 at any SARS office or online, and for
                                        addition infor regarding UIF you can.
                                    </p>
                                </mat-expansion-panel>
                            </mat-tab> -->

        <!-- VAT Vendor -->
        <!-- <mat-tab label="Sixth">
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            You need to register as a VAT (Value Added Tax) vendor if your projected
                                            sales per year will exceed R1 million, is your
                                            business/company registered as a VAT vendor?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>money</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <h4>VAT Vendor</h4>
                                    <p>
                                        If your projected sales per year will exceed R1 million, then you need to
                                        register as a VAT (Value Added Tax) vendor.
                                        VAT vendor registration can be done by completing and submitting a VAT101 form,
                                        which is available at any SARS office. Click the link at the end of this line
                                        for more information about VAT Vendar.
                                    </p>
                                </mat-expansion-panel>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <mat-divider class="divider"></mat-divider> -->

        <!-- FINANCE -->
        <!-- <div>
                        <mat-grid-list cols="2" rowHeight="380px">
                            <mat-grid-tile class="text-inside-grid">
                                <div class="mb-5 mt-11 col-header">
                                    <h1 class="display-4 mb-2">Finance</h1>
                                    <p class="lead">You’ll need to understand the underlying financial flows of your
                                        business.</p>
                                    <footer class="blockquote-footer">That’s key to your understanding of how to manage
                                        your business. So what we’re going to do in this session is give you
                                        the tools of startup finance to help you manage and build your business.
                                    </footer>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="img">
                                    <img class="image animated fadeInRight delay-0.5s"
                                        src="assets/img/everything-3.png">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list> -->

        <!-- Tabs start here -->
        <!-- <mat-tab-group headerPosition="below">
                            <mat-tab label="First"> -->

        <!-- Expand for funds -->
        <!-- <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Do you have funds for your business?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>timeline</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <h4>Funds for my business</h4>
                                    <p>
                                        Ideal to finance developmental projects, business expansion or business
                                        purchases. Loan repayment period up to 10
                                        years. Flexi reserve facility to keep additional funds to be re-used in need.
                                        Inter-account transfers of available funds
                                        from flexi reserve facility. Auto-capitalisation to reduce outstanding capital
                                        to benefit from interest burden.
                                        Repayment frequencies: monthly, bi-monthly, quarterly, half-yearly and yearly.
                                    </p>
                                </mat-expansion-panel>
                            </mat-tab>

                            <mat-tab label="Second"> -->
        <!-- Paragraph before expand for business account -->
        <!-- <p class="paragraph">

                                </p> -->
        <!-- Expand for business account -->
        <!-- <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Do you have a business account?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>assignment</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <h4>Business Account</h4>
                                    <p>
                                        Opening a business account with the ABSA can be considered a bit challenging due
                                        to the necessary qualifications that
                                        are needed to meet approval requirements. Also, the demographical criteria is a
                                        big qualification requirement that rules
                                        a lot of business owners out of this equation. However, it is possible to open
                                        an ABSA business account without facing
                                        the stumbling blocks that cause most people to fail.
                                    </p>
                                </mat-expansion-panel>
                            </mat-tab> -->
        <!-- Expand for SARS -->
        <!-- <mat-tab label="Third">
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Have you registered with SARS to pay tax?
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Click here if you said no
                                            <mat-icon>money</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <h4>Financial Management</h4>
                                    <p>
                                        You’ll need to understand the underlying financial flows of your business.
                                        That’s key to your understanding of how to
                                        manage your business. So what we’re going to do in this session is give you the
                                        tools of startup finance to help you
                                        manage and build your business.
                                    </p>
                                </mat-expansion-panel>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </form>
            </mat-step> -->

        <!-- DIGITAL MARKETING -->
        <!-- <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Digital Marketing</ng-template>
                    <mat-grid-list cols="2" rowHeight="380px">
                        <mat-grid-tile class="text-inside-grid">

                            <mat-list>
                                <mat-list-item>

                                </mat-list-item>

                            </mat-list>

                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="img">
                                <img class="image animated bounceInDown delay-0.5s" src="assets/img/digital-6.png">
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step> -->

        <!-- <mat-step>
                <ng-template matStepLabel>Developers</ng-template>
                <mat-grid-list cols="1" rowHeight="450px">
                    <mat-grid-tile class="text-inside-grid">
                        <div class="row mx-n2 mb-5">
                            <div class="col-sm-6 col-lg-3 px-2 mb-3"> -->
        <!-- Team -->
        <!-- <div class="card h-100 transition-3d-hover">
                                    <div class="card-body">
                                        <div class="avatar avatar-lg avatar-circle mb-4">
                                            <img class="avatar-img"
                                                src="https://htmlstream.com/front/assets/img/100x100/img1.jpg"
                                                alt="Image Description">
                                        </div>

                                        <span class="d-block small font-weight-bold text-cap mb-1">Software
                                            Developer</span>
                                        <h4 class="text-lh-sm">Christina Kray</h4>
                                        <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty
                                            simple person.</p>
                                    </div>

                                    <div class="card-footer border-0 pt-0"> -->
        <!-- Social Networks -->
        <!-- <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-google"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                        </ul> -->
        <!-- End Social Networks -->
        <!-- </div>
                                </div> -->
        <!-- End Team -->
        <!-- </div>

                            <div class="col-sm-6 col-lg-3 px-2 mb-3"> -->
        <!-- Team -->
        <!-- <div class="card h-100 transition-3d-hover">
                                    <div class="card-body">
                                        <div class="avatar avatar-lg avatar-circle mb-4">
                                            <img class="avatar-img"
                                                src="https://htmlstream.com/front/assets/img/100x100/img3.jpg"
                                                alt="Image Description">
                                        </div>

                                        <span class="d-block small font-weight-bold text-cap mb-1">Software
                                            Architecture</span>
                                        <h4 class="text-lh-sm">Jeff Fisher</h4>
                                        <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty
                                            simple person.</p>
                                    </div>

                                    <div class="card-footer border-0 pt-0"> -->
        <!-- Social Networks -->
        <!-- <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-google"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                        </ul> -->
        <!-- End Social Networks -->
        <!-- </div>
                                </div> -->
        <!-- End Team -->
        <!-- </div>

                            <div class="col-sm-6 col-lg-3 px-2 mb-3"> -->
        <!-- Team -->
        <!-- <div class="card h-100 transition-3d-hover">
                                    <div class="card-body">
                                        <div class="avatar avatar-lg avatar-circle mb-4">
                                            <img class="avatar-img"
                                                src="https://htmlstream.com/front/assets/img/100x100/img11.jpg"
                                                alt="Image Description">
                                        </div>

                                        <span class="d-block small font-weight-bold text-cap mb-1">Product
                                            Designer</span>
                                        <h4 class="text-lh-sm">Amy Forren</h4>
                                        <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty
                                            simple person.</p>
                                    </div>

                                    <div class="card-footer border-0 pt-0"> -->
        <!-- Social Networks -->
        <!-- <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-google"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                        </ul> -->
        <!-- End Social Networks -->
        <!-- </div>
                                </div> -->
        <!-- End Team -->
        <!-- </div>

                            <div class="col-sm-6 col-lg-3 px-2 mb-3"> -->
        <!-- Team -->
        <!-- <div class="card h-100 transition-3d-hover">
                                    <div class="card-body">
                                        <div class="avatar avatar-lg avatar-circle mb-4">
                                            <img class="avatar-img"
                                                src="https://htmlstream.com/front/assets/img/100x100/img12.jpg"
                                                alt="Image Description">
                                        </div>

                                        <span class="d-block small font-weight-bold text-cap mb-1">Looking for someone
                                            specific?</span>
                                        <h4 class="text-lh-sm">Take a look</h4>
                                        <p class="font-size-1">Browse through our list of developers and choose one that
                                            suits your task.</p>
                                    </div>

                                    <div class="card-footer border-0 pt-0">
                                        <a class="btn btn-xs btn-soft-secondary" href="#">View More Developers</a>
                                    </div>
                                </div> -->
        <!-- End Team -->
        <!-- </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </mat-step> -->

    </div>
</div>
