<mat-card class="reset">
  <div *ngIf="!message" >
    <h3 class="header">Forgot Password</h3>
    <div class="example-container">
        <mat-form-field >
          <mat-label>Enter your email</mat-label>
          <input matInput [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" (click)="forgotpass()">Send</button>
  </div>
  
<div class="btn-rest" *ngIf="message">
  <h3 >{{msg}}</h3>
  <button mat-flat-button color="primary" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button>
</div>
      
</mat-card>

