<!-- 
<div class="container">
    <mat-card class="card">
        <div class="info">
            <h5>Welcome !</h5>
            <h4 class="intro">I'm  Frontend Developer</h4>
                <div class="list">
                    <ul>
                        <div class="list">
                            <li><h6>company</h6></li>
                            <li><h6>location</h6></li>
                            <li><h6>status</h6></li>
                            <li><h6>githubusername</h6></li>
                            <br>
                           
	
                        </div>
                    </ul>
              </div>
            
              <div>

                <div>
                    <mat-grid-list cols="2" rowHeight="1:1">
                        <mat-grid-tile>
                            <div mat-card-avatar class="example-header-image"></div>
                  
                            
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="details">
                                <h5>Bio:</h5>
                                <p class="Bio">blah blah blah blah blah blah  blah blah blah blah blah blah blah blah blah </p>
                                <div>
                                    <h5>skills :</h5>
                                    <ul id="skills">
                                        <li>Html and Css</li>
                                        <li>Angular</li>
                                        <li>Javascript</li>
                                    </ul> 
                                </div>
                              <div class="Experience">
                                <h5>Experience:</h5> 
                                <ul>
                                    <li><h6>Company:</h6> WeThinkCode </li> 
                                    <li><h6>Location:</h6> 84 Albertina Sisulu Rd, Johannesburg, 2000</li>
                                    <li><h6>From:</h6>01 December 2019</li>
                                    <li><h6>To:</h6>31 May 2020</li>
                                    <li><h6>Current:</h6>True</li>
                                    <li><h6>Description:</h6>blah blah blah </li> 
                                </ul>
                              </div>
                              <div>
                                <h5>Education:</h5>
                                <ul>
                                    <li><h6>School:</h6> Tshwane university of Technology</li>
                                    <li><h6>Degree:</h6> Diploma Information Technology</li>
                                    <li><h6>Field of study:</h6> Software Development</li>
                                    <li><h6>From:</h6>2016</li>
                                    <li><h6>To: </h6>2019</li>
                                    <li><h6>Current</h6>True</li>
                                    <li><h6>Description</h6>blah blah blah </li> 
                                </ul>
                               
                              </div>
                               
                       
                            </div>
                            

                        </mat-grid-tile>
                       
                      </mat-grid-list>
                      
                </div>
                
              </div>
         
        </div>

    </mat-card>


</div> -->

<mat-card class="card">
    <div class="container">
        <div class="cover-photo">
          <img src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="profile">
        </div>
        <div class="profile-name">Chamano Chamano</div>
        <p class="about">User Interface Designer and<br>front-end developer</p>
        <button class="msg-btn">Message</button>
        <button class="follow-btn">About Me</button>
        <div>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
     
      
</mat-card>