.card{
    margin-top: 30px;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-top:10px;
    margin-right: 200px;
   
  }
  .info{
    text-align: center;
  }
.intro{
  font-weight: bold;
}
ul{
  list-style-type: none;
}
li{

  float: left;
  margin: 3px;
  
}
.list{
  margin-left: 180px;
  position: relative;
 
}
.social{
  float: left !important;
  padding-right: 50px;
  
}
#skills{
  margin-left: 100px;
}

.Experience{
  float:left

}

.details{
  margin-top: 50px;
  margin-right: 10px;
}