
    <div class="container">
        <div class="cover-photo">
          <img src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="profile">
        </div>
        <div class="profile-name">Samkeliswe  Mcholo</div>

        <!-- Skills -->
        <h2 class="heading1">Skills</h2>
        <mat-card class="card3"> 
            <ul class="list">
                <li>Angular</li>
                <li>Html & Css</li>
                <li>Node Js</li>
                <li>Springboot</li>
            </ul>
                 </mat-card>
               <!-- work Experience -->   
        <h2 class="heading">Work Experience</h2>
            <mat-card class="card1">
                <div class="work_experience">
                    <div class="">
                        <div class="">
                            <div class="">
                                <h3>Full Stack Developer</h3>
                              </div>
                              <div>
                                <h3 class="uk-text-muted">Company A</h3>
                              </div>
                        </div>
                    </div>
                      <div class="">
                        
                        <time datetime="March 2019" class='time'>March 2019</time> - Present</div>
                        <p>Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
                </div>
            </mat-card>
            
            
            <!-- education -->
             <h2 class="heading">Education</h2>
            <mat-card class="card2">
                <div class='education'>
                    <div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
                        <div class="uk-flex uk-flex-wrap uk-flex-between">
                            <div class="">
                                <h3>Computer Science</h3>
                              </div>
                              <div>
                                <h3 class="uk-text-muted">University Of City</h3>
                              </div>
                        </div>
                        <p class="uk-text-meta uk-margin-remove-top">
                            
                            <time datetime="June 2018" class='time'>June 2018</time> - March 2019</p>
                
                            <p>Lorem ipsum <a href= "#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </mat-card>
       
<!-- skills -->


      </div>


      

