
body{
  font-family: Montserrat, sans-serif;
  background: #28223f;
}
.container{
  
   margin: 100px auto;
  background:white;
  color: white;
  border-radius: 5px;
  width: 800px;
  height: 800px;
  text-align: center;
 box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}
.cover-photo{
  background: url(https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.profile{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 93px 0 0 -175px;
  border: 1px solid #1f1a32;
  padding: 7px;
  background: #292343;
}
.profile-name{
  font-size: 25px;
  font-weight: bold;
   margin: 27px 0 0 150px;
  color: black;
}


.heading{
  text-align:left ;
  color:black
}
.card1{
  text-align: left;
  width: 500px;
  background-color: #eceff1;
}
.uk-text-muted{
  text-align: right;
  font-weight: lighter;
  color: gray;
}
.card2{
  text-align: left;
  width: 770px;
  background-color: #eceff1;
}
.card3{
  width: 250px;
  height: 200px;
  float:right;
 margin-top:35px;
 background-color: #eceff1;
}
.list{
  text-align: left;
}
.heading1{
    text-align: right;
    color:black;
  

}
.time{
  font-weight:lighter;
  color: lightgrey;
}
.h2, h2 {
   font-size: 1.5rem !important; 
}

