
  <section class="pt-4 pt-md-11" id="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">

          <!-- Image -->
          <img src="assets/img/illustration-2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate " alt="..." data-aos="fade-up" data-aos-delay="100">

        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate " data-aos="fade-up">

          <!-- Heading -->
          <h1 class="display-3 text-center text-md-left" >
            Welcome to <span class="text-primary">Novelty.</span> <br>
            <h2 id="header">A platform for entrepreneurs.</h2>
          </h1>

          <!-- Text -->
          <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
            Novelty is a web application, which provide an easy journey for entrepreneurs from having a business idea, to starting the journey, running it and market it to the wider audience.
            <br><br>
            Provides an entrepreneur to learn about entrepreneurship and running a business.
          </p>

          <!-- Buttons -->
          <div class="text-center text-md-left">
            <a routerLink="/client/login" class="btn btn-primary shadow lift mr-1">
              Start Your Journey <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
            </a>
          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

