body{
    margin: 100px 150px;
}
.inside-wrap{
    margin: 80px 150px 50px 150px ;
    display: flex;
    justify-content: space-between;
  }
  span{
    color:blue;
  }
  .header{
    margin-right: 15px;
  }
  .img {
    margin-left: 15px;
  }
  
  .image {
    height: 300px;
    margin-left: 20px;
  }

  //styling the devider
  .infor{
      margin: 10px 350px;
      text-align: center;
      border-radius: 5px;
  }
  hr{
      width: 70%;
      margin:5px auto;
  }
  //styling the card
.tabs{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:50px 180px;
  }
  .card{
    margin: 5px;
    padding: 5px;
  }
 .card img{
      width: 100px;
  }
  .card h6{
      margin-top: 10px;
  }
 
  /* The icon */
.link{
	position: absolute;
	top: 7%;
	right: -7%;
	transform: translate(-50%, -50%);
    margin: auto;
	text-align: center;
	border: 2px solid #444;
	border-radius: 50%;
	width: 35px;
	height:40px;
	font-size: 23px;
	line-height: 40px;
	cursor: default;
}

.link:before{
    content:'?';
    font-family: sans-serif;
    font-weight: normal;
    color:#444;
}
.link a{
    text-decoration: none;
}
