body{
    margin: 100px 150px;
}
 
.inside-wrap{
    margin: 80px 150px ;
    display: flex;
    justify-content: space-between;
  
  }
  span{
    color:blue;
  }
  .header{
    margin-right: 15px;
  }
  .img {
    margin-left: 15px;
  }
  
  .image {
    height: 300px;
    margin-left: 20px;
  }