
<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="wrapper">
    <div class="inside-wrap">
        <div class="header">
            <h5 class="display-4 mb-2">
               Welcome to<span> Business Documents</span></h5>
            <p class="lead"> Here you are provided with the most important legal
                and financial requirements to get your business operating legaly </p>
            <footer class="blockquote-footer">This session focuses on the financial and legal documents  
                you need to help you manage, protect and build your business.
            </footer>
        </div>
        <div class="img">
            <img class="image animated fadeInRight delay-0.5s" src="assets/img/everything-3.png">
        </div>
    </div>
</div>

<div class="infor">
    <h4>Here are some of the essentials for :</h4>
    <hr>
    <p>Trading legaly and Getting financial assistance</p>
</div>

<div class="tabs">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="help-tip"></h6>
          <h5>Business Registry</h5>
          <img src="assets/img/cipc.png">
          <h6>Is your business registered, if not head over to CIPC.</h6>
          <a href="http://www.cipc.co.za/index.php/trade-marks-patents-designs-copyright/trade-marks/" target="_blank" class="card-link">
            Go to CIPC</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
       <h6 class="help-tip"></h6>
         <h5>Business Account</h5>
          <img src="assets/img/money.png">
          <h6>Do you have a business Account, if not head over to ABSA</h6>
          <a href="#" target="_blank" class="card-link">Go to ABSA</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="help-tip"></h6>
        <h5>My Business Plan</h5>
          <img src="assets/img/bplaan.png">
          <h6>Do you have a business plan, if not chech out these template</h6>
          <a href="#" target="_blank" class="card-link">Check templates</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="help-tip"></h6>
       
        <h5>Fund my Business</h5>
          <img src="assets/img/funding.jpeg">
          <h6>Do you need funding, check out the requirements.</h6>
          <a href="#" target="_blank" class="card-link">Click here</a>
      </div>
    </div>
</div>

