<form class="idea-input">
       
       
        <!-- <div><img class="think-img" src="assets/img/thinking.jpeg" alt="Card image"></div> -->
        <mat-form-field class="example-full-width">
          <mat-label>Please enter the idea</mat-label>
          <input matInput placeholder="Ex. Baking" [(ngModel)]="idea" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      
        <mat-form-field class="idea-description">
          <mat-label>description</mat-label>
          <textarea matInput placeholder="Ex. Baking for wedding events..." [(ngModel)]="descript" [ngModelOptions]="{standalone: true}" ></textarea>
        </mat-form-field>

        <!-- <mat-tree>
                <mat-tree-node> parent node </mat-tree-node>
                <mat-tree-node> -- child node1 </mat-tree-node>
                <mat-tree-node> -- child node2 </mat-tree-node>
              </mat-tree> -->
              

         <div class ="btn-save" (click)="inserIdea()">
        <button mat-button>Save</button>
    
      </div>
        <!-- <i class="material-icons">
                add
                </i> -->
                
                   
                
                
      </form>



<!-- <form class="insert-idea" >
        <div class="b-ground">
                <mat-form-field class="idea">
                        <mat-label>Please enter your business idea</mat-label>
                        <input matInput placeholder="Ex.Baking" value="Ex.Baking">
                      </mat-form-field>
                      <img class="think-img" src="assets/img/thinking.jpeg" alt="Card image">
                      <mat-form-field class="idea-description">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Baking for wedding celebrations "></textarea>
                      </mat-form-field>
        </div>
       
</form> -->
<!-- <mat-card class="card">
       <h1>hello world</h1>
       <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
       

      <!-- <div class ="btn-save">
        <button mat-button>Save</button>
      </div> -->
     

<!-- </mat-card>-->
      








<!-- <div  class="idea">
  

    
        <label for="idea_user">First Idea:</label>
        <input type="text" class="idea" id="idea_user">
</div>
      
<div class="idea">
        <label for="idea_user2">second Idea:</label>
        <input type="text" class="idea" id="idea_user2">
 </div> -->
<!--      
 <<div *ngFor='let q of info'>
    {{q.q_name}}
</div> --> 
<!-- <div *ngFor='let q of info'>
{{q.id}}
{{'. '}}
{{q.q_name}}
</div>  -->



