

<form class="insert-idea" >
        
                <mat-form-field class="input-idea">
                        <mat-label>Please enter your business idea</mat-label>
                        <input matInput placeholder="Ex.Baking"  [(ngModel)]="idea" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      
                      <mat-form-field class="idea-description">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Baking for wedding celebrations " [(ngModel)]="descript" [ngModelOptions]="{standalone: true}"></textarea>
                      </mat-form-field>
       
        <div class ="btn-save" (click)="inserIdea()">
          <button mat-button>Save</button>
        </div>
</form> 




