<mat-card class="reset">


    <div *ngIf="!message" >
      <h3 class="header">Forgot Password</h3>
      <div class="example-container">
        <form [formGroup]="form">
          <mat-form-field >
            <mat-label>Enter your email</mat-label>
            <input type="email" matInput placeholder="Email Address"  required formControlName="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" /> 
            <mat-error *ngIf="form.controls['email'].invalid"> Not a valid email</mat-error>
          </mat-form-field>
          </form>
        </div>
        <button mat-flat-button color="primary" (click)="forgotpassword()" [disabled]="form.invalid" >Send</button>
    </div>
  
  
  <div class="btn-rest" *ngIf="message">
    <p>{{msg}}</p>
    <button mat-flat-button color="primary" [routerLink]="['/client/login']" routerLinkActive="router-link-active" >Login</button>
  </div>
        
  </mat-card>