<div id="section-body">
    <div class="container">
        <div class="grid">
            
            <div class="marketing">
                <div class="showcase">
                    <h2>Welcome to Digital Marketing</h2>
                    <p>Learn how to use social media platforms<br> To put your business at the forefront</p>
                    <ul class="infor-link">
                        <li>
                            <a href="#facebook">Facebook</a>
                        </li>
                        <li>
                            <a href="twitter">Twitter</a>
                        </li>
                        <li>
                            <a href="#instagram">Instagram</a>
                        </li>
                    </ul>
                </div>
                <div class="article">
                    <h2>Facebook</h2>
                    <ol>
                        <li>first point</li>
                        <li>first point</li>
                        <li>first point</li>
                    </ol>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veritatis modi, 
                    inventore temporibus vel sunt eaque laudantium unde corrupti ipsum impedit! Est 
                    ex inventore non quis pariatur possimus, odio harum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veritatis modi, 
                    inventore temporibus vel sunt eaque laudantium unde corrupti ipsum impedit! Est 
                    ex inventore non quis pariatur possimus, odio harum.</p>
                </div>
            </div>

            <div class="social">
                <div class="crpost">
                    <h1>create post</h1>
                </div>
                <div class="ideas">
                    <h1>ideas</h1>
                </div>
                <div class="stats">
                    <h1>stats</h1>
                </div>
            </div>
        </div>
    </div>
</div>
