<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class=container-outer>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand">
                <img src="./assets/img/logo.png" class="navbar-brand-img " alt="...">
                Novelty
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-x"></i>
                </button>

                <!-- Navigation -->
                <ul class="navbar-nav ml-auto">
                    <a class="nav-link" routerLink="/landing" aria-haspopup="true" aria-expanded="true">
                        Home
                    </a>
                    <li class="nav-item hovered">
                        <a class="nav-link" routerLink="/client/display" aria-haspopup="true" aria-expanded="true">
                            Journey
                        </a>
                    </li>
                    <li class="nav-item hovered">
                        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            About Novelty
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="section-body">
    <div class="container1">
        <div class="grid">

            <div class="marketing">
                <div class="showcase">
                    <h2>Welcome to <br><h1>Digital Marketing</h1></h2>
                    <p>Learn how to use social media platforms<br> To put your business at the forefront</p>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                    </ul>

                </div>
                <div class="article">
                    <h2 id="facebook">Facebook</h2>
                    <ol>
                        <li>first point</li>
                        <li>second point</li>
                        <li>third point</li>
                    </ol>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veritatis modi,
                        inventore temporibus vel sunt eaque laudantium unde corrupti ipsum impedit! Est
                        ex inventore non quis pariatur possimus, odio harum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veritatis modi,
                        inventore temporibus vel sunt eaque laudantium unde corrupti ipsum impedit! Est
                        ex inventore non quis pariatur possimus, odio harum.</p>
                </div>
                <div class="article">
                    <h2 id="twitter">Twitter</h2>
                    <ol>
                        <li>first point</li>
                        <li>second point</li>
                        
                    </ol>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veritatis modi,
                        inventore temporibus vel sunt eaque laudantium unde corrupti ipsum impedit! Est
                        ex inventore non quis pariatur possimus, odio harum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veritatis modi,
                        inventore temporibus vel sunt eaque laudantium unde corrupti ipsum impedit! Est
                        ex inventore non quis pariatur possimus, odio harum.</p>
                </div>
            </div>

              
            <div class="social">
                <div class="crpost">


                    <div class="mainDiv">
                        <!--title-->
                        <div class="title">

                            <a href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Create a Post</a>

                            <a href="#">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Photo/Video Album</a>
                            <p><i class="fa fa-times" aria-hidden="true"></i>
                            </p>
                        </div>



                        <div id="body">
                            <!--img and textarea-->
                            <div class="imtcontainer">
                                <div class="img">
                                    <img
                                    src="./assets/img/logo.png">
                                </div>
                                <div class="textarea">
                                    <textarea onkeyup="InputAdjust(this)" placeholder="what's on you mind?"></textarea>
                                </div>
                            </div>

                            <div class="line">
                                 <a href='#'><i class="fa fa-smile-o" aria-hidden="true"></i></a>
                            </div>



                            <!--icons-->
                            <div class="icons">
                                <div class="photos">

                                    <a href="#">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                        Photo/Video</a>
                                </div>

                                <div class="feeling">
                                    <a href='#'>
                                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                                        Felling/Activity</a>
                                </div>

                                <div class="checkin">
                                    <a href='#'>
                                        <i style="color: #f42a67;" class="fa fa-map-marker" aria-hidden="true"></i>
                                        Check in</a>
                                </div>

                                <div class="tagfriend">
                                    <a href='#'>
                                        <i style="color: #90c0d5" class="fa fa-user-plus" aria-hidden="true"></i>
                                        Tag Friend</a>
                                </div>

                                <div class="live">
                                    <a href='#'>
                                        <i style="color: #fa3e3e" class="fa fa-video-camera" aria-hidden="true"></i>
                                        Live Video</a>
                                </div>


                                <div class="back">
                                    <a href='#'>
                                        <i style="color: #f7923c" class="fa fa-fonticons" aria-hidden="true"></i>
                                        Background Color</a>
                                </div>
                                <div class="footer">
                                    <a href="#">Post</a>
                                </div>

                            </div>
                        </div>

                    </div>
                    
                </div>


                
            </div>
            <div class="card" style="width: 12rem; height: 200px;">
                <div class="card-header">
                  Choose an Idea
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1.Cras justo odio</li>
                  <li class="list-group-item">2.Dapibus ac facilis</li>
                  <li class="list-group-item">3.Vestibulum at eros</li>
                </ul>
              </div>
        </div>
        
    </div>
</div>