<!-- <div class="container-inner">
        <mat-grid-list cols="1" rowHeight="230px">
            <mat-grid-tile class="text-inside-grid">
                <div class="mb-5 mt-11 col-header">
                    <h6 class="display-4 mb-5">B U S I N E S S <span class="text-primary"> I D E A S</span></h6>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="row">
            <div class="col-sm-3 rounded-left border border-right-1 border-bottom-0 border-top-0 border-left-0">
                <div *ngIf="found">
                    <div class="card mt-2 pl-2 pr-4" *ngFor="let idea of ideas.data" (click)="change()">
                        <h3 class="title">{{idea.busin_idea}}</h3>
                        <div class="bar">
                            <div class="emptybar">
                            </div>
                            <p class="description mt-1">{{idea.descript}}</p>
                            <div class="filledbar">

                            </div>
                            <div class="full-width">
                                <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly" max="5">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!found">
                    <p>No idea was found</p>
                </div>
            </div>
             <div class="col">

                <div *ngIf="!evaluation">
                    <p class="para-idea">
                        You've just entered a business idea, but how do you know it's going to work. We've located questions to assist you to know if your business ideas is most likely to succeed.
                        <br>Click your business idea to encounter more.
                    </p>

                </div>

             </div>
        </div>
    </div> -->


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h6 class="display-4 mb-5"><span class="text-primary">I D E A  </span> &nbsp; E V A L U A T I O N</h6>
        <p class="lead">You're not alone in this journey of discovery.</p>
        <p>Welcome to <span class="text-primary text-uppercase"> NOVELTY</span>, on this current page you'll answer some few question regarding to your business idea.</p>
      <br>
      <div *ngIf="evaluation">
        <app-question></app-question>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="img">
        <img class="image animated fadeInRight delay-0.5s" src="assets/img/ideas-header.png">
      </div>
    </div>
  </div>
</div>
