#body{
    margin: 90px 150px;
}
#body h2{
    margin-bottom: 50px;
}
.buttons{
    margin-top: 20px;
}

//styling the card
.tabs{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .card{
    margin: 10px;
  }
  img{
      width: 150px;
  }
  .card h6{
      margin-top: 10px;
  }
  