
<section id="body">
    <h2>How do you plan and manage your work now?</h2>
    <h5>Choose any option(s) below</h5>
    <div class="tabs">
          <div class="card" style="width: 15rem;">
            <div class="card-body">
                <img src="assets/img/spread.jpeg">
                <h6>Spreadsheets, documents, slide decks</h6>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <div class="card-body">
                <img src="assets/img/kan2.jpeg">
                <h6>Agile or kanban-style cards or boards</h6>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <div class="card-body">
                <img src="assets/img/gant.jpeg">
                <h6>Gantt charts or visual timelines</h6>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <div class="card-body">
                <img src="assets/img/todo.jpeg">
                <h6>Pen and paper notes or to-do lists</h6>
            </div>
          </div>
    </div>
   
    <div class="buttons">
        <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
</section>
