

  <section class="pt-4 pt-md-11" id="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">
  
          <!-- Image -->
          <img src="assets/img/illustration-2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate " alt="..." data-aos="fade-up" data-aos-delay="100">
  
        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate " data-aos="fade-up">
  
          <!-- Heading -->
          <h1 class="display-3 text-center text-md-left" >
           Have a <span class="text-primary">Website</span> <br>
          <h2  class="lead text-center text-md-left text-muted mb-6 mb-lg-8"> <b>A website is a great way to provide value added service to your customers and clients.</b></h2>
           
          </h1>
          <!-- Text -->
          
            
        <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
          It is a great way to keep them coming back to your website anytime when they need your products or services.
          <br><br>
            Have the best web developers who can make the best
            sites  and help you to expand your business from all the
            clients.
          </p>
  

          
          <!-- Buttons -->
          <div class="text-center text-md-left">
            <a routerLink="/client/profile" class="btn btn-primary shadow lift mr-1">
              select a developer <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
            </a>
          </div>
  
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  






















































<!--devs!-- bri -->
<!-- <link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
 Include the above in your HEAD tag 


<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wraper">
  <div class="header">
    <h1><span>Developers</span> site</h1>
    <h5>Why Web Development Is Essential To Your Business?</h5>
    <p>
      The rapidly changing business trends have made the business owners realize
      the importance of having a website and register their online presence. Due
      to this, they are hiring the best web developers who can make the best
      sites for them and help them to expand their business from all the
      clients.
    </p>
    <br>
    <h5>Here are some of the benefits of having an online presence:</h5>
    <div>
    <ul>
      <li> <span class="material-icons star">
        star_border
        </span>It means your business can be accessed anytime</li>
      <li> <span class="material-icons">
        star_border
        </span>
        More people will be aware of the products as well as the services.
      </li>
      <li> <span class="material-icons">
        star_border
        </span>Clients can search and find your products online</li>
    </ul>
    
  </div>

  <br><br><br>

  <h5>Check Domain Availability</h5>
  <div class="container h-100">
    <div class="d-flex justify-content-flex-start h-100">
      <form>
        <div class="searchbar">
          <input
            class="search_input" id="search" type="search" formControlName="domain"  placeholder="Search for domain"
          />
          <a href="#" class="search_icon"
            ><i class="fa fa-search" (click)="postDomain()"></i
          ></a>
        </div>
      </form>
    </div>
  </div>

 
  <section class="our-webcoderskull padding-lg mt-2">

    -block equal-hight" style="height: 425px;">
            <div class="icon">
              <a routerLink="/client/profile">
              <span class="material-icons  menu">
                menu
                </span>
              </a>
            </div>
            <figure>
              <img
                src="http://www.webcoderskull.com/img/tea<div class="select">
      <h3>Select the developer that best suits your business needs</h3>
    </div>

    <div class="container">
      <div class="row heading heading-icon">
       
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cntm4.png"
                class="img-responsive"
                alt=""
              />
            </figure>
            <h3><a href="http://www.webcoderskull.com/">Sam Mcholo</a></h3>
            <p>Freelance Web Developer</p>
            <p class="card-text">Some quick example text to build on the card.</p>
            <ul class="follow-us clearfix">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 425px;">
            <figure>
              <img
                src="http://www.webcoderskull.com/img/team1.png"
                class="img-responsive"
                alt=""
              />
            </figure>
            <h3><a  routerLink="/client/profile">Nomaseko Brilliant Mhlanga's Profile </a></h3>
            <p>Freelance Web Developer</p>
            <p class="card-text">Some quick example text to build on the card.</p>
            <ul class="follow-us clearfix">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 425px;">
            <figure>
              <img
                src="http://www.webcoderskull.com/img/team4.png"
                class="img-responsive"
                alt=""
              />
            </figure>
            <h3><a href="http://www.webcoderskull.com/">Manish </a></h3>
            <p>Freelance Web Developer</p>
            <p class="card-text">Some quick example text to build on the card.</p>
            <ul class="follow-us clearfix">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 425px;">
            <figure>
              <img
                src="http://www.webcoderskull.com/img/team2.png"
                class="img-responsive"
                alt=""
              />
            </figure>
            <h3><a href="http://www.webcoderskull.com/">Atul </a></h3>
            <p>Freelance Web Developer</p>
            <p class="card-text">Some quick example text to build on the card.</p>
            <ul class="follow-us clearfix">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div> -->
