<div class="profile_container">
<div class="image_container" >
  <div class="image">
    <img src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
  </div>
</div>
<div class="text_container">
  <div class="title">
    <h3>Samkelisiwe Mcholo</h3><br>
    <h4>Frontend Developer</h4><br>
  </div>
  <div class="objective">
    <p>To secure a challenging and rewarding position as Android Developer with an established organization that can utilize my skills and experience.</p>
  </div>
  
  <div class="route" >
    <button mat-stroked-button  routerLink="/client/profile" >View Profile</button>
   </div>
  
  <br>
  
  <div class="social">
    <a>GitHub</a>
    <a>Twitter</a>
    <a>LinkedIn</a>
  </div>
</div>
</div>