<div class="container">
    <div class="profiles ">
       <!-- profile 1 -->
       <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Samkelisiwe Mcholo</mat-card-title>
          <mat-card-subtitle>Frontend developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
           I design and build user interfaces
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button  routerLink="/client/profile" >View</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
